.launch-section {
  grid-template-columns: 1fr 1fr;
  gap: clamp(20px, 4vw, 60px);
  overflow: hidden;
}


@media (max-width: 900px) {
  .launch-section {
    grid-template-columns: 1fr;
    height: auto;
    padding: 80px 0;
  }

  .launch-left {
    padding-left: 0;
  }

  .image-grid {
    height: 320px;
    margin-top: 40px;
  }
}